<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        测试文字: <input type="text" id="messageInput" />
        <button id="submit">发送</button>
    </form>
    <script>
        var submitBtn = document.getElementById('submit');
        var messageInput = document.getElementById('messageInput');

        submitBtn.onclick = function() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:3000/message');
            xhr.onload = function() {
                console.log('ok');
            };
            xhr.send(JSON.stringify({message: messageInput.value}));
            return false;
        }
    </script>
</body>
</html>