<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="container" style="margin-top: 100px;">
    <table class="table">
      <tr>
        <th>Key Pem</th>
        <th>Cert Pem</th>
        <th>DeviceToken</th>
        <th>操作</th>
      </tr>
      <tr id="deviceInfoTr">
        <td><a href="/profile" class="btn-xs btn-primary">更改</a></td>
      </tr>
    </table>
    <form id="messageForm">
      <div class="form-group">
        <label for="alertInput">Alert:</label>
        <input class="form-control" type="text" id="alertInput" required />
      </div>
      <div class="form-group">
        <label for="badgeInput">Badge:</label>
        <input type="number" class="form-control" id="badgeInput" placeholder="不设置将不更改badge的值" />
      </div>
      <button id="submit" class="btn btn-default">发送</button>
    </form>
  </div>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
    var submitBtn = document.getElementById('submit');
    var alertInput = document.getElementById('alertInput');
    var badgeInput = document.getElementById('badgeInput');
    var messageForm = document.getElementById('messageForm');
    var table = document.getElementById('table');
    var deviceInfoTr = document.getElementById('deviceInfoTr');

    messageForm.onsubmit = function (e) {
      var data = {
        alert: alertInput.value,
        badge: badgeInput.value ? badgeInput.value : -1
      };
      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'http://localhost:3000/message');
      xhr.onload = function () {
        alert('发送成功');
      };
      xhr.send(JSON.stringify(data));
      return false;
    };

    var deviceInfoXhr = new XMLHttpRequest();
    deviceInfoXhr.open('GET', 'http://localhost:3000/deviceInfo');
    deviceInfoXhr.onload = function() {
      var deviceInfo = JSON.parse(deviceInfoXhr.responseText);
      var tdsHtml = '';
      for(key in deviceInfo) {
        tdsHtml += '<td>'+ deviceInfo[key] +'</td>';
      }
      deviceInfoTr.innerHTML = tdsHtml;
      var oTd = document.createElement('td');
      var oA = document.createElement('a');
      oA.href = '/profile';
      oA.innerText = "更改";
      oA.className = 'btn-sm btn-primary';
      oTd.appendChild(oA);
      deviceInfoTr.appendChild(oTd);
    };
    deviceInfoXhr.send(null);
  </script>
</body>
</html>